
@font-face {
  font-family: 'Caviar';
  letter-spacing: 1px;
  src: url('./fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'CaviarBold';
  src: url('./fonts/CaviarDreams_Bold.ttf');
}
 
body {
  padding: 0;
  margin: 0;
  font-family: 'CaviarBold';
  position: relative;
}